body {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
}
.container-conta {
  color: #000;
  height: 35px;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  word-wrap: break-word;
  margin: 90px 0;
  margin-top: 20px;
  font-size: 30px;
}

p{
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  margin: 10px;

}

.forms3 {
  color: #000;
  font-weight: 600;
}

.confirmar {
  color: #000;
  font-weight: 600;
}