body {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
}

.forms {
  color: #000;
  padding: 8px 0;
  border: none;
  width: 100%;
  margin-bottom: 1px solid #000;
  font-weight: 500;
  
}

input[type="text2"], input[type="email2"], input[type="tel"], input[type="number2"], input[type="date"]  {
  border: none; /* Remove todas as bordas */
  border-bottom: 1px solid black; /* Adiciona uma linha na parte inferior */
  outline: none; /* Remove o contorno ao focar */
  padding: 8px 0; /* Espaçamento interno para que o texto não fique muito colado na borda */
  width: 100%; /* Faz o input ocupar a largura total do container */
  margin-bottom: 10px;
}

input[type="text2"]:focus, input[type="email2"]:focus, input[type="tel"]:focus, input[type="number2"]:focus, input[type="date"]:focus {
  border-bottom: 2px solid rgb(0, 0, 0); /* Muda a espessura e a cor da linha ao focar */

}

.container-conta {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  
}

p {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  margin: 15px;
}